/************************** Filter bar  *****************************/

.browse_filterbar {
	overflow-y: hidden;
	clear: both;
	background: url("../images/browse/filter_bar_1px.png") repeat-x #e3e3e3;
	height:83px;
	font-family: 'Open Sans Condensed', sans-serif;
}

.browse_filterbar-complete {
	clear: both;
	height:260px;
	background: url("../images/browse/filter_bar_expanded_1px.png") repeat-x;
	font-family: 'Open Sans Condensed', sans-serif;
	
}

#filterbar {
	overflow-y: hidden;
}

.more_filtersbtn {
	padding-top: 7px;
	width: 167px;
	height: 36px;
	text-align: center;
	background: url("../images/browse/more_filter_btn.png") no-repeat;
}

#filterbtn .more_filtersbtn  a {
	color: #1f1f1f;
}

#filterbar a {
	color: #1f1f1f;
}


#filterbar .category {
	width: 236px;
	float: left;
	height: 69px;	
}

#filterbar .filters {
	width: 498px;
	float: left;
	height: 69px;
	
}

#filterbar .sort {
	width: 234px;
	float: left;
	height: 69px;
}

#filterbar .separator {
	background: url("../images/browse/separator.png") repeat-y;
	float: left;
	height: 69px;
	width: 2px;
}

#filterbar .separatorLong {
	background: url("../images/browse/separator.png") repeat-y;
	float: left;
	height: 246px;
	width: 2px;
}

#filterbar .filters #price {
	background-color: transparent;
	border: 0; 
	color: #1f1f1f; 
	font-weight: bold;
}

#filterbar .filters #optZoom {
	background-color: transparent;
	border: 0; 
	color: #1f1f1f; 
	font-weight: bold;
}







