/*--- Set Sprite Image ---*/
#id0,
#id1,
#id2,
#id3,
#id4,
#id5,
#id6,
#id7,
#id8,
#id9,
#id10,
#id11,
#id12,
#id13,
#id14,
#id15,
#id16,
#id17,
#id18,
#id19,
#id20,
#id21,
#id22,
#id23,
#id24,
#id25,
#id26,
#id27,
#id28,
#id29,
#id30,
#id31{
	background-image : url("./sprite.png") ;
}

/*--- filename : img-scroll-bar.png ---*/
#id0 {
	width : 10px ;
	height : 146px ;
	background-position : left top ;
	background-repeat : no-repeat ;
}

/*--- filename : img-prod-box-off-cap-top.png ---*/
#id1 {
	width : 229px ;
	height : 8px ;
	background-position : -16px top ;
	background-repeat : no-repeat ;
}

/*--- filename : img-prod-box-off-cap-botm.png ---*/
#id2 {
	width : 229px ;
	height : 8px ;
	background-position : -16px -14px ;
	background-repeat : no-repeat ;
}

/*--- filename : img-prod-box-on-cap-top.png ---*/
#id3 {
	width : 229px ;
	height : 8px ;
	background-position : -16px -28px ;
	background-repeat : no-repeat ;
}

/*--- filename : img-prod-box-on-cap-botm.png ---*/
#id4 {
	width : 229px ;
	height : 8px ;
	background-position : -16px -42px ;
	background-repeat : no-repeat ;
}

/*--- filename : img-scroll-slider.png ---*/
#id5 {
	width : 10px ;
	height : 64px ;
	background-position : -62px -56px ;
	background-repeat : no-repeat ;
}

/*--- filename : btn-filter-cap-left.png ---*/
#id6 {
	width : 40px ;
	height : 32px ;
	background-position : -16px -56px ;
	background-repeat : no-repeat ;
}

/*--- filename : img-arrow-down.png ---*/
#id7 {
	width : 12px ;
	height : 7px ;
	background-position : -213px -56px ;
	background-repeat : no-repeat ;
}

/*--- filename : btn-get-info-arrow.png ---*/
#id8 {
	width : 7px ;
	height : 9px ;
	background-position : -200px -56px ;
	background-repeat : no-repeat ;
}

/*--- filename : btn-gray-sm-x.png ---*/
#id9 {
	width : 5px ;
	height : 6px ;
	background-position : -231px -56px ;
	background-repeat : no-repeat ;
}

/*--- filename : img-scrollbar-bg-gray.png ---*/
#id10 {
	width : 116px ;
	height : 12px ;
	background-position : -78px -56px ;
	background-repeat : no-repeat ;
}

/*--- filename : img-nav-sub-comp-prod-cap-mid.png ---*/
#id11 {
	width : 11px ;
	height : 47px ;
	background-position : -89px -74px ;
	background-repeat : no-repeat ;
}

/*--- filename : img-nav-sub-comp-prod-cap-right.png ---*/
#id12 {
	width : 12px ;
	height : 47px ;
	background-position : -106px -74px ;
	background-repeat : no-repeat ;
}

/*--- filename : btn-lt-gray-cap-lft.png ---*/
#id13 {
	width : 9px ;
	height : 27px ;
	background-position : -218px -74px ;
	background-repeat : no-repeat ;
}

/*--- filename : img-nav-sub-comp-prod-cap-left.png ---*/
#id14 {
	width : 5px ;
	height : 47px ;
	background-position : -78px -74px ;
	background-repeat : no-repeat ;
}

/*--- filename : btn-lt-gray-cap-rt.png ---*/
#id15 {
	width : 9px ;
	height : 27px ;
	background-position : -233px -74px ;
	background-repeat : no-repeat ;
}

/*--- filename : btn-get-info-cap-right.png ---*/
#id16 {
	width : 11px ;
	height : 36px ;
	background-position : -201px -74px ;
	background-repeat : no-repeat ;
}

/*--- filename : btn-dk-gray-cap-lft.png ---*/
#id17 {
	width : 9px ;
	height : 45px ;
	background-position : -124px -74px ;
	background-repeat : no-repeat ;
}

/*--- filename : btn-dk-gray-inactiv-cap-rt.png ---*/
#id18 {
	width : 9px ;
	height : 45px ;
	background-position : -169px -74px ;
	background-repeat : no-repeat ;
}

/*--- filename : btn-get-info-cap-left.png ---*/
#id19 {
	width : 11px ;
	height : 36px ;
	background-position : -184px -74px ;
	background-repeat : no-repeat ;
}

/*--- filename : btn-dk-gray-inactiv-cap-lft.png ---*/
#id20 {
	width : 9px ;
	height : 45px ;
	background-position : -154px -74px ;
	background-repeat : no-repeat ;
}

/*--- filename : btn-dk-gray-cap-rt.png ---*/
#id21 {
	width : 9px ;
	height : 45px ;
	background-position : -139px -74px ;
	background-repeat : no-repeat ;
}

/*--- filename : btn-filter-cap-right.png ---*/
#id22 {
	width : 40px ;
	height : 32px ;
	background-position : -16px -94px ;
	background-repeat : no-repeat ;
}

/*--- filename : img-pagination-cap-left.png ---*/
#id23 {
	width : 18px ;
	height : 31px ;
	background-position : -126px -124px ;
	background-repeat : no-repeat ;
}

/*--- filename : img-pagination-cap-right.png ---*/
#id24 {
	width : 18px ;
	height : 31px ;
	background-position : -150px -124px ;
	background-repeat : no-repeat ;
}

/*--- filename : img-pagination-onstate.png ---*/
#id25 {
	width : 32px ;
	height : 31px ;
	background-position : -174px -124px ;
	background-repeat : no-repeat ;
}

/*--- filename : btn-filter-arrow-open.png ---*/
#id26 {
	width : 7px ;
	height : 4px ;
	background-position : -212px -124px ;
	background-repeat : no-repeat ;
}

/*--- filename : img-checkbox-off.png ---*/
#id27 {
	width : 16px ;
	height : 16px ;
	background-position : -38px -132px ;
	background-repeat : no-repeat ;
}

/*--- filename : img-checkbox-on.png ---*/
#id28 {
	width : 16px ;
	height : 16px ;
	background-position : -16px -132px ;
	background-repeat : no-repeat ;
}

/*--- filename : img-checkbox-inactive.png ---*/
#id29 {
	width : 16px ;
	height : 16px ;
	background-position : -60px -132px ;
	background-repeat : no-repeat ;
}

/*--- filename : btn-scrollbar-bg-gray.png ---*/
#id30 {
	width : 16px ;
	height : 17px ;
	background-position : -104px -132px ;
	background-repeat : no-repeat ;
}

/*--- filename : btn-filter-arrow-closed.png ---*/
#id31 {
	width : 7px ;
	height : 4px ;
	background-position : -212px -134px ;
	background-repeat : no-repeat ;
}