.header1{
	font-family: 'Open Sans Condensed';
	font-size: 30px;
	line-height: 36px;
	color: #1f1f1f;
	font-weight: bold;
	font-style: normal;
}

.subheader1{
	font-family: 'Open Sans Condensed';                 
	font-size: 16px;
	color: #1f1f1f;
	font-weight: bold; 
	font-style: normal;
}

.subheader2{
	font-family: 'Open Sans Condensed';                 
	font-size: 20px;
	line-height: 24px;
	color: #1f1f1f;
	font-weight: bold; 
	font-style: normal;
	text-decoration: none;
}

.body_copy1{
	color: #1f1f1f;
	font: 'Arial';
	font-size: 12px;
	line-height: 17px;
	font-weight: normal; 
	font-style: normal;                    
	text-decoration: none;
}

.body_copy2{
	font-family: 'Arial';
	font-size: 12px;
	line-height: 17px;
	color: #1f1f1f;
	font-style: normal;
	font-weight: bold;
}

.link4{
	font: 'Arial';
	font-size: 12px;
	line-height: 17px;
	color: #00a0c6;
	font-weight: bold;
	font-style: normal;                    
	text-decoration: none;
}

.anchor_copy{
	font-family: 'Open Sans Condensed';                 
	font-size: 13px;
	color: #1f1f1f;
	font-weight: bold; 
	font-style: normal;                    
	text-decoration: none;
}

#utility{
	background:  url(../images/Loose_Graphics/bg-utility-1px.gif) repeat-x center top; /* >_> */
	min-height: 224px;
}

#utility #breadcrumb{
	padding: 10px 0px 0px 0px;
	float: left;
	width: 100%;
}

#utility #breadcrumb a{
	float:left;
	margin: 0px 3px 0px 0px; 
	text-indent: 3px;
}

#utility #breadcrumb a:before{
	padding-right: 3px;
	background: url('../images/spr-utility.png');
	content: "";
	display: inline-block;
	background-position : -132px -77px ;
	height: 7px;
	width: 4px;
}

#utility .container h1{
	clear: both;
	text-align: center;
}

#utility .container .topMargin{
	padding: 32px 0px 32px 0px;
}

#utility .container .middleMargin{
	padding: 150px 0px 10px 0px;
}

#utility .container #title_legend{
	width: 810px;
	margin: 0px auto 15px auto;
	text-align: center;
}

#utility .container p{
	color: #1f1f1f;
	font: Arial;
	font-size: 12px;
	line-height: 17px;
	font-weight: normal; 
	font-style: normal;
	clear: both;
}

#utility .container .box_section{
	clear: both;
	width: 100%;
	min-height: 100px;
}

#utility .container .box_section .box_section_container{
	margin: 0px 40px 0px 40px;
}

#utility .container .ch1{
	
	border-bottom: 1px solid #c9c9c9;
	padding-top: 50px;
}

#utility .container .chn{
	
	border-bottom: 1px solid #c9c9c9;
	padding-top: 50px;
}

#utility .container .cht{
	
	border-top: 1px solid #c9c9c9;
	margin-top: 165px;
}

#utility .container .box_section h2{
	margin: 0px 0px 38px 0px;
}

#utility .container .box_section .sbh_p_box{
	width: 854px;
	margin: 0px 0px 4px 0px;
}

#utility .container .box_section h3{
	margin: 18px 0px 0px 0px; 	
}

#utility .container .box_section .info_content{
	max-width: 356px;
}

#utility .container .box_section .box_section_container .backTop{
	clear: both;
	height: 75px;
	margin-left: 46%;
	position: relative;
}

.bottom12{
	position: absolute;
	bottom: 12px;
	
}

#utility .container .box_section .box_section_container .topArrow{
	padding-right: 3px;
	background: url('../images/spr-utility.png');
	content: "";
	margin: 0px 0px 6px 24px; 
	background-position : -132px -65px ;
	height: 6px;
	width: 9px;
}

#utility .container .box_section .box_section_container ol {
	list-style: decimal;
	text-indent: -1px;
	margin-left: 25px;
}

#utility .container .box_section .box_section_container ol li{
	padding: 0px 0px 42px 0px;
}

#utility .container .box_section .box_section_container .linkbox{
	min-width: 280px;
	max-width: 280px;
	float: right;
	margin-top: 80px;
	background-color: #e2e2e2;
	padding: 22px 0px 28px 24px;
}

#utility .container .box_section .box_section_container .linkbox li{
	padding: 0px 0px 5px 0px;
	
}

#utility .container .box_section .box_section_container .linkbox ul{
	padding: 30px 0px 0px 0px;
	margin: 0px;
}

#utility .container .box_section .box_section_container .customeContent{
	float: left;
}
