#wrapper{
	width:976px;
	margin: auto;
}

#wrapper p{
	color:#fff;
	font-size: 18px;
	font-family: 'Open Sans Condensed', sans-serif;
	float:right;
	font-weight: bold;
	position: relative;
	bottom: 33px;
	right: 390px;
	text-align: right;
}

#view_container360{
	overflow:hidden;
	width:976px;
	height: 490px;
}

#image_container{
	position: relative;
	top:0px;
	width:976px;
}

#angle_scroll{
	background: url(../images/360images/angle_scroll.png);
	width:142px;
	height: 19px;
	position: relative;
	margin: auto;
}

