/* === Reset === */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	font-size: 75%;
	line-height: 1;
	color:#222;
	font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* === Structure === */

.container {
	max-width: 976px;
	margin: 0 auto;
	padding: 0 2px 0 2px;
}
.row:after{
	content: '';
	display: block;
	clear: both;
}
.row .block2 {
	float: left;
	margin: 17px 6.5% 17px 0;
	width: 45%;
}
.row .block2:last-child {
	margin-right: 0;
}
.row .block3 {
	float: left;
	margin: 17px 1% 17px;
	width: 31%;
}
.row .block3:first-child {
	/*margin-left: 64px;*/
}
.row .block4{
	float: left;
	margin: 17px 6.5% 17px 0;
	width: 20%;
}
.row .block4:last-child {
	margin-right: 0;
}

.row .block3_out{
	float: left;
	margin: 0 3px 0 0;
	padding: 5px 0 0 0;
	width: 33%;
}
.row .block3_out img{
	margin-bottom: 10px;
}


/* === Style === */

a{
	color: #00a0c6;
	font-weight: normal;
	text-decoration: none;
}

h1, h2, h3, h4, h5{
	color: 111;
}

h1{
	font-size:3em;
	line-height:1;
	margin-bottom:0.5em;
}

h2{
	font-size:2em;
	margin-bottom:0.75em;
}

h3{
	font-size:20px;
	line-height:24px;
	margin-bottom:1em;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
}

h4{
	font-size:1.2em;
	line-height:1.25;
	margin-bottom:1.25em;
}

h5{
	font-size:1em;
	font-weight:bold;
	margin-bottom:1.5em;
}

.content p {
	font-size: 12px;
	line-height: 17px;
	font-family: Arial, Helvetica, sans-serif;
}
#header {
	background: #474747 url(../images/Loose_Graphics/img-nav-global-1px.gif) repeat-x;
}
#header:after {
	content: "";
	display: block;
	clear: both;
}
#logo, #searchformhead input[type="submit"], .closeit {
	background: url(../images/spr-global-nav.png) transparent; 
}
#logo {
	float: left;
	width : 170px ;
	height : 70px ;
	background-position : left top ;
	background-repeat : no-repeat ;
	font-size: 1px;
	margin-left: -12px;
}
#logo a {
	display: block;
	width : 170px ;
	height : 70px ;
}
.main_menu {
	float: left;
	margin-left: 170px;
}
.main_menu li {
	float: left;
	margin: 30px 15px;
	line-height: 0;
}
.main_menu li a {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 16px;
	color: #b6b6b6;
	font-weight: bold;
	text-decoration: none;
	text-shadow: -1px -1px 1px #000000;
}
.main_menu li a:hover {
	color: #fff;
	text-shadow: none;
}
.main_menu li.active a {
	color: #fff;
	text-shadow: none;
} 

.toggleMenu {
    display:  none;
}
#navmenucat {
	background: url(../images/Loose_Graphics/img-nav-expanded-fpo.jpg) no-repeat center top gray;
}
#navmenucat .hide {
	height: 275px;
	display: none;
}
#navmenucats {
	height: 230px !important;
	width: 960px !important;
}
#navmenucats a, #navmenucats {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 13px;
	color: #b6b6b6;
	font-weight: bold;
	line-height: 17px;
}
#navmenucats a:hover {
	color: #fff;
}
.panhead {
	height: 40px;
}
.inbread {
	margin-top: 15px;
	float: left;
}
.inbread span {
	color: #fff;
}
.closeit {
	float: right;
	display: block;
	width : 9px ;
	height : 9px ;
	background-position : -83px -167px ;
	background-repeat : no-repeat ;
	margin-top: 15px;
	text-indent: -9999px;
	font-size: 1px;
}
.parrays li {
	display: inline-block;
	margin: 15px 20px;
	text-align: center;
}
.parrays li img {
	display: block;
}
#panfoot {
	height: 40px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 13px;
	color: #b6b6b6;
	font-weight: bold;
	line-height: 17px;
}
#rcnt {
	float: left;
	height: 40px;
	margin-right: 20px;
}
#rcnt .vcent {
	display: inline-block;
	vertical-align: middle;
	line-height: 40px;
}
.rcnttm {
	float: left;
}
/* 
	Required Styles
*/
#aToolTip {
	position: absolute;
	display: none;
	z-index: 50000;
}

#aToolTip .aToolTipContent {
	position:relative;
	margin:0;
	padding:0;
	}
/* 
	END: Required Styles
*/
/**
	Default Theme
*/
.defaultTheme {
	background:url(../images/Loose_Graphics/img-tooltip-1px.png) repeat-x;
	color:#fff;
	height: 31px;
	margin: 10px 0 0 10px;
}
.defaultTheme:before {
	content: "";
	display: block;
	background: url(../images/Loose_Graphics/spr-global-nav.png) no-repeat;
	width : 18px ;
	height : 31px ;
	background-position : -77px -116px ;
	background-repeat : no-repeat ;
	float: left;
	margin-left: -18px;
}
.defaultTheme:after {
	background: url(../images/Loose_Graphics/spr-global-nav.png);
	width : 13px ;
	height : 31px ;
	background-position : -101px -116px ;
	background-repeat : no-repeat ;
	float: right;
	content: "";
	display: block;
	margin-right: -13px;
}
.defaultTheme p {
	display: inline-block;
	line-height: 31px;
}
#viewall {
	float: right;	
	margin-top: 15px;
}
#viewall a {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 13px;
	color: #FFF;
	font-weight: bold;
	line-height: 17px;
}
#viewall a:before {
	content: "";
	display: inline-block;
	background: url(../images/Loose_Graphics/spr-global-nav.png);
	width : 11px ;
	height : 11px ;
	background-position : -66px -167px ;
	background-repeat : no-repeat ;
	margin-right: 10px;
}
#bustype {
	float: right;
	display: block;
}
#bustype li {
	display: inline-block;
	margin: 10px 0px;
}
#bustype a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	padding: 0 7px;
}
#bustype li:first-child {
	border-right: 1px solid #767676;
}
#searchformhead {
	clear: right;
	float: right;
	width: 130px;
	background: url(../images/Loose_Graphics/img-nav-global-search-1px.png);
	border-bottom: 1px solid #5c5c5c;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	margin-right: 5px;
}
#searchformhead label {
	display: none;
}
#searchformhead input[type=text] {
	background: transparent;
	border: 0;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 13px;
	color: #ffffff;
	font-weight: bold;
	width: 90px;
	padding: 4px 0 3px 5px;
	margin: 0;
}
#searchformhead input[type=submit] {
	border: 0;
	width: 26px;
	height: 25px;
	font-size: 1px;
	text-indent: -99999px;
	float: right;
	margin-right: -3px;
	background-position : -127px -116px ;
	background-repeat : no-repeat ;
}
#browsebar {
	clear: both;
	background: url(../images/Loose_Graphics/img-nav-sub-1px.gif);
	height:35px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	-webkit-transition: height 500ms ease-out;
	   -moz-transition: height 500ms ease-out;
        -ms-transition: height 500ms ease-out;
         -o-transition: height 500ms ease-out;
		    transition: height 500ms ease-out;
	border-top: 1px solid #1f1f1f;
	overflow: hidden;
}
#browsebar.hidden {
	height: 0;
}
#brand {
	margin: 0 35px 0 0;
	padding: 7px 0;
	line-height: 1px;
	float: left;
}
#brand span {
	display: inline-block;
	padding-top: 3px;
}
#brand span, #browsebot span{
	text-transform: uppercase;
}
#brand .barshare {
	text-transform: none;
}
#brand sup, #browsebot sup {
	vertical-align:super;
	font-size: 11px;
	font-weight: normal;	
}
#browsebot {
	float: right;
	margin-top: 6px;
}
#browsebot a {
	font-size: 13px !important;
	margin-left: 15px;
}
.barshare {
	-webkit-border-radius: 2px;
	        border-radius: 2px;
	display: inline-block;
	line-height: 11px;
    padding: 3px 6px;
	color: #dedede;
	font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	line-height: 12px;
	border: #7c7c7c solid 1px;
	margin-left: 15px;
}
.blubot {
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	background: #00a0c6;
	display: inline-block;
	text-transform: uppercase;
	padding: 6px 7px;
	color: #fff;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	line-height: 12px;
}
.blackbot {
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	background: #000;
	display: inline-block;
	text-transform: uppercase;
	padding: 7px 14px;
	color: #fff;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	line-height: 12px;
}

.whitebot {
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	background: #fff;
	display: inline-block;
	text-transform: uppercase;
	padding: 7px 14px;
	color: #000;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	line-height: 12px;
	border: #bbbbbb solid 1px;
}


#content {
	background-color: #f4f4f4;
	padding-top: 30px;
	padding-bottom: 30px;
}
.backtop {
	text-align: center;
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
	text-transform: uppercase;
	color: #323232;
	font-size: 11px;
	font-weight: bold;
	margin: 15px auto;
}

/************************** class * *****************************/

.border-bottom {
	border-bottom: #d6d6d6 solid 1px;
	margin: 50px 0 50px 0;
}

/************************** pan menu *****************************/

.pan_menu nav {
	text-align: center;
}

.pan_menu nav li{
	list-style: none;
	display: inline-block;
	margin-left: -5px;
	padding: 10px 2.561475% 10px 2.561475%;
	background-image: url("../images/features/nav_bg.jpg");
	border: #e1e1e1 solid 1px;
}

.pan_menu nav li:hover {
	background-image: url("../images/features/nav_bg_hover.jpg");
}

.pan_menu nav li:first-child {
	-webkit-border-radius: 5px 0px 0px 5px;
	border-radius: 5px 0px 0px 5px;
}

.pan_menu nav li:last-child {
	-webkit-border-radius: 0px 5px 5px 0px;
	border-radius: 0px 5px 5px 0px;
}

.pan_menu nav li a {
	text-decoration: none;
	color: #1f1f1f;
	font-size: 14px;
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}

/************************** arrows slider *****************************/

.prev {
	background: url("../images/product-sprite.png") no-repeat scroll -5px -26px;
	width: 34px;
	height: 45px;
}

.next {
	background: url("../images/product-sprite.png") no-repeat scroll -71px -26px;
	width: 34px;
	height: 45px;
}

/************************** paginator slider *****************************/

.paginator {
	text-align: center;
	height: 20px;
	margin: 0 auto;
	float: left;
}

.paginator a {
	background: url("../images/product-sprite.png")no-repeat scroll -50px -4px;
	width: 3px;
	height: 3px;
	display: inline-block;
	text-indent: -99999px;
	margin-left: 10px;
	margin-top: 20px;
}

.paginator a:first-child {
	margin-left: 0;
}

.paginator a:last-child{
	border:0;
}

.paginator .selected {
	background: url("../images/product-sprite.png") no-repeat scroll -27px -1px;
	width: 10px;
	height: 10px;
	padding-top: 3px;
}

/************************** features *****************************/

#features {
	margin-top: 70px;
}

.features_slide_block {
	margin-top: 70px;
	float: left;
}

.features_slide_block img {
	width: 52%;
	float: left;
}

.features_slide_block div:last-child {
	width: 38%;
	float: left;
	margin-left: 5%;
	margin-top: 80px;
	padding-left: 5%;
}

.features_slide_block p{
	font-size: 14px;
	font-family: arial;
	margin: 20px 10% 20px 0;
}

#features_paginator {
	float: left;
	margin-top: 40px;
	width: 100%;
}

#features_paginator b:first-child {
	float: left;
	width: 10.245901639344%; /*100px*/
	text-align: right;
	margin: 10px 2.049180327869% 0 2.049180327869%;
}

#features_paginator b:last-child {
	float: left;
	width: 10.245901639344%; /*100px*/
	text-align: left;
	margin: 10px 2.049180327869% 0 2.049180327869%; /*20px*/
}

#prev_features {
	float: left;
}

#next_features {
	float: left;
}

#fpaginator {
	width: 64.344262295082%; /*628px*/
}



/************************** demo  *****************************/

#demo_preview {
	float: left;
	width: 60%;
}
#demo_preview img {
	width: 90%;
}

#demo_info {
	float: left;
	width: 35%;
	margin-left: 2%;
	font-size: 14px;
}

/************************** reviews  *****************************/

.reviews_slide {
	float: left;
	/*width: 93.032786885246%;*/ /*908px*/
	text-align: center;
	margin-top: 50px;

}

.reviews_slide_block {
	/*margin: 10px 25.614754098361% 10px 25.614754098361%;*/ /*250px*/
	float: left;
	text-align: center;
}

#pr_img {
	width: 35%;
}

#cr_img {
	margin: 10px 0 10px 0;
}

.reviews_slide_block p {
	font-size: 20px;
	margin: 10px 25.614754098361% 10px 25.614754098361%;
	font-weight: bold;
}

.reviews_slide_block span {
	font-weight: bold;
}

.review_arrow {
	float: left;
	margin-top: 200px;
}

#score {
	margin: 0 auto;
}

#rpaginator {
	width: 100%;
}

/************************** footer start *****************************/

footer {
	background-color: #434343;
	color: #c5c5c5;
	border-top: #616161 solid 1px;
	padding-bottom: 10em;
}

footer a {
	color: #fff;
}

.foo_bbottom {
	border-bottom: #fff solid 1px;
}

#foo_nav {
	margin-bottom: 30px;
	padding-top: 15px;
}

#foo_print {
	float: left;
	width: 31.96721%;
}

#foo_print:before {
	background: url('../images/Loose_Graphics/spr-global-nav.png');
	width : 15px ;
	height : 13px ;
	background-position : -45px -167px ;
	background-repeat : no-repeat ;
	content: "";
	float: left;
	margin-right: 5px;
}

#foo_print a {
	display: block;
}

.icn_print {
	background: url('../images/Loose_Graphics/spr-global-nav.png');
	width : 15px ;
	height : 13px ;
	background-position : -45px -167px ;
	background-repeat : no-repeat ;
}

#foo_btop {
	float: left;
	width: 36.06557%;
	text-align: center;
}

#foo_nav nav {
	float: left;
	width: 31.96721%;
	text-align: right;
}

#foo_nav nav li {
	display: inline-block;
	margin-left: 25px;
}

#foo_nav nav li span {
	margin-left: 5px;
}

#foo_navmenu .hide {
	display: none;
	border-top: #c5c5c5 solid 1px;
	border-bottom: #c5c5c5 solid 1px;
	margin-bottom: 30px;
}

#othersites {
	width: 478px;
	float: left;
	margin-top: 30px;
}

#othersites p:first-child {
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: bold;
}

#othersitesform {
	width: 498px;
	float: left;
	text-align: right;
	margin: 25px 0 40px 0;
}

.country_form {
	float: right;
}

.country_form input[type="submit"] {
	background-color: #ebebeb;
	display: block;
	float: left;
	font: normal 13px;
	line-height: 16px;
	height: 34px;
	padding-left: 10px; 
	padding-right: 10px;
	text-decoration: none;
	border: none;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.country_form div:first-child {
	text-align: left;
	margin: 0 0 10px 20px;
}

.country_form div:last-child {
	margin: 0 0 0 20px;
}

#foo_terms {
	margin-bottom: 35px;
}

#foo_terms ul{
	text-align: center;
}

#foo_terms p {
	text-align: center;
	margin: 0 0 5px 0;
}

#foo_terms li{
	display: inline-block;

}

#foo_socialmedia {
	text-align: center;
}

#foo_socialmedia a {
	margin-left: 15px;
}

#foo_socialmedia a:first-child{
	margin-left: 0;
}

/************************** footer end *****************************/

#box{
	background-color: #fff;
	-webkit-box-shadow:  0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow:  0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    padding: 35px;
    margin-top: 60px;
}

#featured{
	/*margin-top: 35px;*/
}

#popularproducts{

	margin-top: 17px;
	text-align: center;
}

#moreproducts{
	margin-top: 20px;
	text-align: center;
}

.link{
	margin: 30px;
	text-align: center;
}

#paginator{
	border: #dfdfdf solid 1px;
	height: 105px;
	float: right;
	-webkit-box-shadow:  0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow:  0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    margin-top: -70px;
    margin-right: -35px;
    margin-bottom: 30px;
}

#paginator .arrow{
	background: url('../images/paginator_bg.jpg');
	float: left;
	height: 85px;
	padding: 10px;
	width: 200px;
}

#paginator .arrow a{
	display: block;
}

#paginator .arrow img {
	margin-bottom: 5px;
}

#pagleft{
	border-right: #dfdfdf solid 1px;
}

#pagright img{
	margin-left: 160px;
}

#article_title{
	float: left;
	width: 400px;
}

#article_title a{
	margin-bottom: 10px;
}

#overview_bg {
	background: url('../images/product/banner_bg3.jpg') repeat-x;
}
/* product page */
#backcat:before, .overviewbut, #specsbut {
	background: url('../images/product-sprite.png') no-repeat;
}
#backcat:before {
	content: "";
	display: inline-block;
	height: 8px;
    width: 14px;
}
#backcat {
	float: left;
	margin: 10px 0 0 0;
}
#backcat a {
	color: #b6b6b6;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#overviewbg {
	background: url(../images/overview-bg.jpg) repeat-x center top;
}
#overview {
	height: 460px;
}

#overviewblock {
	color: #fff;
	float: left;
	clear: both;
	width: 215px;
}

#overviewblock h3 {
	margin-top: 85px;
	font-size: 28px;
	line-height: 36px;
}
#overviewblock p {
	margin-bottom: 20px;
}
#overviewimg {
	float: left;
	width: 62.5%;
}
.overviewbut{
	display: inline-block;
	background-position:-140px -26px;
	text-transform: uppercase;
	padding-left: 33px;
	color: #000;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	line-height: 44px;
	height: 43px;
	width: 93px;
}
#techspecs {
	padding: 176px 0 211px;
}
#specsbar {
	float: left;
	width: 225px;
}
#specsbar h3 {
	margin-bottom: 0;
}
#specsbar p {
	font-size: 13px;
	font-weight: 400;
}
#specsbut {
	display: block;
	padding: 15px 10px 15px 55px;
	color: #fff;
	background-position: -295px -27px;
	width: 76px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 13px;
	margin-bottom: 20px;
}
#dimimg {
	float: right;
}
#specsbar li {
	padding-bottom: 13px;
	margin-bottom: 13px;
	border-bottom: #dddddd 1px solid;
}
#specsbar li:last-child {
	border-bottom: 0px;
}
#sampleslide .slide {
	width: 640px;
	margin: 0 auto;
}
#sampleslide .pagi {
	text-align: center;
	margin-top: 45px;
}
#sampleslide .pagi li{
	display: inline-block;
}
#demos h3 {
	text-align: center;
}

/* == pinnig nav == */

#pining_nav{
	/*background-color: #1f1f1f;*/
	background: #00a0c6; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYTBjNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwYTBjNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzFmMWYxZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZjFmMWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  #00a0c6 0%, #00a0c6 50%, #1f1f1f 51%, #1f1f1f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#00a0c6), color-stop(50%,#00a0c6), color-stop(51%,#1f1f1f), color-stop(100%,#1f1f1f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #00a0c6 0%,#00a0c6 50%,#1f1f1f 51%,#1f1f1f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #00a0c6 0%,#00a0c6 50%,#1f1f1f 51%,#1f1f1f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #00a0c6 0%,#00a0c6 50%,#1f1f1f 51%,#1f1f1f 100%); /* IE10+ */
	background: linear-gradient(to right,  #00a0c6 0%,#00a0c6 50%,#1f1f1f 51%,#1f1f1f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a0c6', endColorstr='#1f1f1f',GradientType=1 ); /* IE6-8 */
	height: 40px;
}

.nav-container nav{
	background-color: #1f1f1f;
	height: 40px;
	position: relative;
	z-index: 500;
	height: 40px;
	width: 100%;
}
 
.nav-container nav li {
	display: inline;
	list-style: none;
	/*margin-left: -5px;*/
	margin-left: -0.3em;
}

.nav-container nav ul {
	
}

.nav-container nav li a {
	text-decoration: none;
	font-size: 1.1em;
	color: #fff;
	font-weight: bold;
	display: inline-block;
	width: 7em; 
	text-align: center;
	padding: 1em 1em;
	height: 1.05em;
}

.nav-container nav li a:hover,
.nav-container nav li a.selected {
	color: #fff;
	background: #00a0c6;
}

.nator {
	text-align: center;
	width: 80%;
	margin: 0 auto;
}
.nator a {
	height: 5px;
	display: inline-block;
	width: auto;
	min-width: 10%;
	max-width: 20%;
	background: #c1c1c1;
	text-indent: -99999px;
	border-right: 1px solid #fff;
}
.nator a:last-child{
	border:0;
}
.nator .selected {
	background: #2e2c2c;
}


#score{
	margin: 0 auto 80px;
}

/** Media Queries **/

@media screen and (max-width: 640px) {
	body {
		width: auto;
		min-width: auto;
	}
	img {
		max-width: 100%;
		height: auto;
	}
	.container {
		width: auto;
	}
	.toggleMenu {
		float: right;
		line-height: 0;
	}
	.active {
	     display: block;
	 }
	 .nav > li {
	     float: none;
	 }
	 .nav > li > .parent {
	     background-position: 95% 50%;
	 }
	 .nav li li .parent {
	     background-image: url("images/downArrow.png");
	     background-repeat: no-repeat;
	     background-position: 95% 50%;
	 }
	 .nav ul {
	     display: block;
	     width: 100%;
	 }
	.nav > li.hover > ul , .nav li li.hover ul {
	     position: static;
	 }
	.main_search {
  		display: none;
	}
	#overview {
		height: 28.75em;
	}
	#overview_block {
		height: 28.75em;
	}
	#overview_img {
		width: 60%;
		margin: 5px;
	}
	#pining_nav{
		display: none;
	}
	.caroufredsel_wrapper {
		margin: 0!important;
	}
	.feature_slide {
		width: 70% !important;
		margin: 0 15% !important;
		text-align: center !important;
	}
	.feature_block {
		margin: 0 1em;
	}
	.review_slide {
		width: 70% !important;
		margin: 0 15% !important;
		text-align: center !important;
	}

	#inspirations {
		/*padding-left: -10px;
		margin-left: -20px;*/
	}
	
	.inspiration_slide{
		/*margin-left: -30px;*/

	}
	.inspiration_block {
		min-height: 500px;
	}
	#specifications{
		padding: 10% 2% 10% 2%;
	}

	#specification_block {
		margin-top: 3%;
	}

	#reviewsContent li a {
		font-size: 1em;
	}

	#related nav li a{
		font-size: 1em;
	}

	#related nav ul li a {
	font-size: 1em;
}

	#browsebar {
		padding-right: 2%;
	}
	#brand {
		margin: 0 2%;
	}
	#footnav {
		float: none;
		text-align: center;
		margin: 0 5%
	}
	#footnav li {
	margin: 30px 3% 25px;
	font-size: 10px;
	float: none;
	display: inline-block;
	}
	li#foothelp {
		float: left;
		clear: left;
		display: block;
	}
	li#langswitch {
		float: right;
		clear: right;
		display: block;
	}
	#fotlogo {
		clear: left;
	}
	#socialsink {
		clear: none;
		float: right;
	}
	#socialsink li {
		margin: 17px 5px;
	}
	#footlinks li {
	display: block;
	margin:0;
	padding: 11px 0;
	}
	#busi {
		float: left;
		margin-left: 15px !important;
	}
	#indu {
		float: right;
		margin-right: 15px !important;
	}
}
@media screen and (max-width: 320px) {
	#logo {
		width: 50%;
	}
	.toggleMenu img {
		width: 81%;
		float: right;
	}
}


    




































.clearfix {
	clear: both;
}