/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	font-size: 75%;
	line-height: 1;
	color:#222;
	font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* === Structure === */

.container {
	width: 960px;
	margin: 0 auto;
}
.row:after{
	content: '';
	display: block;
	clear: both;
}
.row .block-2 {
	float: left;
	margin: 17px 6.5% 17px 0;
	width: 45%;
}
.row .block-2:last-child {
	margin-right: 0;
}
.row .block-3 {
	float: left;
	margin: 17px 4% 17px;
	width: 24%;
}
.row .block-3:first-child {
	margin-left: 64px;
}
.row .block-4{
	float: left;
	margin: 17px 6.5% 17px 0;
	width: 20%;
}
.row .block-4:last-child {
	margin-right: 0;
}
/* === Style === */

a{
	color: #00a0c6;
	font-weight: normal;
	text-decoration: none;
}

h1, h2, h3, h4, h5{
	color: 111;
}

h1{
	font-size:3em;
	line-height:1;
	margin-bottom:0.5em;
}

h2{
	font-size:2em;
	margin-bottom:0.75em;
}

h3{
	font-size:1.5em;
	line-height:1;
	font-weight: normal;
	margin-bottom:1em;
}

h4{
	font-size:1.2em;
	line-height:1.25;
	margin-bottom:1.25em;
}

h5{
	font-size:1em;
	font-weight:bold;
	margin-bottom:1.5em;
}

#content p {
	font-size: 13px;
	line-height: 1.5em;
}
#header {
	background: url('../images/header_bg.png') repeat-x;
	height:70px;
}
#logo {
	float: left;
}
.main_menu {
	float: left;
	margin-left: 170px;
}
.main_menu li {
	float: left;
	margin: 30px 15px;
	line-height: 0;
}
.main_menu li a {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}
#bustype {
	float: right;
	display: block;
}
#bustype a{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 12px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	margin: 10px 0px;
	padding: 0 7px;
}
#bustype a:first-child {
	border-right: 1px solid #767676;
}
#searchform-head {
	clear: right;
	float: right;
	width: 130px;
	background: #373737;
	border-bottom: 1px solid #5c5c5c;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
}
#searchform-head label {
	display: none;
}
#searchform-head input[type=text] {
	background: transparent;
	border: 0;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 13px;
	color: #b5b5b9;
	font-weight: bold;
	width: 90px;
	padding: 4px 0 3px 5px;
	margin: 0;
}
#searchform-head input[type=submit] {
	background: url('../images/btn-nav-global-search.png') no-repeat left top;
	border: 0;
	width: 27px;
	height: 25px;
	font-size: 1px;
	text-indent: -99999px;
	float: right;
	margin-right: -3px;
}
#breadcrumbs {
	clear: both;
	background: #000;
	height:45px;
}
#brand {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	color: #fff;
	font-weight: bold;
	margin: 0 35px;
	padding: 15px 0;
	line-height: 1px;
	float: left;
}
#brand span {
	text-transform: uppercase;
}
#brand sup {
	vertical-align:super;
	font-size: 11px;
	font-weight: normal;	
}
#globnav {
	float: right;
	margin-top: 10px;
}
.blubot {
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	background: #00a0c6;
	display: inline-block;
	text-transform: uppercase;
	padding: 7px 14px;
	color: #fff;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	line-height: 12px;
}
#content {
	background-color: #f4f4f4;
	padding-top: 30px;
	padding-bottom: 30px;
}
.backtop {
	text-align: center;
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
	text-transform: uppercase;
	color: #323232;
	font-size: 11px;
	font-weight: bold;
	margin: 15px auto;
}
#footer {
	background: #1f1f1f url('../images/foot_bg.png') repeat-x;
	min-height: 150px;
}
#fotlogo {
	margin: 25px 0 0 0;
	float: left;
}
#footnav {
	float: right;
}
#footnav li {
	float: left;
	margin: 30px 16px 25px;
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
	font-size: 11px;
}
#footnav li a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}
.haschild {
	padding-right: 13px;
	background: url('../images/icn-footer-arrow-down.gif') no-repeat right center;
}
#langswitch {
	padding-left: 30px;
	background: url('../images/img-flag-us.gif') no-repeat left center;
}
#socialsink {
	clear: both;
	margin: 0 auto;
	width: 156px;
}
#socialsink li {
	float: left;
	margin: 50px 5px;
}
#copyright {
	text-align: center;
	size: 11px;
	color: #858585;
	font-family: "Helvetica Neue";
	line-height: 11px;
}
#footlinks {
	text-align: center;
}
#footlinks li {
	display: inline-block;
	margin: 15px 10px 40px;
}
#footlinks li a {
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
	font-weight: bold;
	color: #858585;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 11px;
}
#box{
	background-color: #fff;
	-webkit-box-shadow:  0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow:  0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    padding: 35px;
}

#featured{
	margin-top: 35px;
}

#popularproducts{
	margin-top: 17px;
	text-align: center;
}

#moreproducts{
	margin-top: 20px;
	margin-left: 10px;
	text-align: center;
}

.link{
	margin: 30px;
}




































.clearfix {
	clear: both;
}