body {
	background-color: #434343;
}
#spotlight {
	height: 275px;
}
#spotlight .spotlit {
	float: left;
	width: 312px;
	margin: 0 15px 0 0;
	cursor: pointer;
}
#spotlight .spotlit.last {
	margin: 0;
}
#spotlight .spotlit img {
	margin-bottom: 15px;
	background: url(../images/homepage/spr-homepage.png) no-repeat ;
	padding-right: 9px;
}
#spotlight .spotlit h2 {
	margin-bottom: 15px;
	font-size: 16px;
	font-weight: bolder;
	color: #a9a9a9;
}
#spotlight .spotlit p {
	line-height: 17px;
	font-size: 12px;
	color: #a9a9a9;
}
#spotlight .spotlit:hover h2, #spotlight .spotlit:hover p {
	color: #fff;
}